@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #1f2937;
  background-color: #f3f4f6; /* Abu-abu muda */
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

/* Simulasi Tampilan HP */
#root {
  max-width: 480px; /* Lebar maksimal seperti HP */
  margin: 0 auto;   /* Posisi tengah */
  background-color: #ffffff;
  min-height: 100vh;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  padding-bottom: 80px; /* Ruang untuk Bottom Nav */
}